#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    background: hotpink;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-thing {
  color: #fff;
}

.link {
  text-decoration: underline;
}


.css-djcobt {
    width: 1024px;
    max-width: none;
}

.modal-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;

    > * {
        flex: 1 0 50%;
        padding: 16px;
    }

    p {
        margin-bottom: 1.33em;
        font-size: 18px;
        line-height: 1.6;
    }
}

img {
    max-width: 100%;
}

.modal__img-wrap {
  border-radius: 6px;
  position: relative;
  aspect-ratio: 700/467;
}

.modal-spinner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

img.modal-img {
  border-radius: 6px;
}